.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #925f5f;
  color: #fff;
  padding: 1rem;
  margin-right: -1.5rem;
  position: sticky; /* Apply the sticky positioning */
  top: 0; /* Stick the element to the top of the viewport */
  z-index: 100;
   
 
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    position: fixed;
    top:  55px;
    right: -340px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.open .top-bar {
  transform: translateY(8px) rotate(45deg);
}

.open .middle-bar {
  opacity: 0;
}

.open .bottom-bar {
  transform: translateY(-8px) rotate(-45deg);
}