@import './font.css';
* {
  margin: 0%;
  padding: 0%;
  font-family: "ArticulatCF-Normal";
  border: 2px solid red;
}

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/Desktop - 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.19);
}
.container .signup {
  display: flex;
  width: 80%;
  margin: 0rem 2rem 0rem 2rem;
  /* From https://css.glass */
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  background-image: radial-gradient(circle at 15% 21%, rgba(199, 165, 255, 0.142), rgba(110, 190, 244, 0.066) 73%, rgba(70, 144, 212, 0) 108%);
}
.container .signup .signup_container {
  padding: 2rem 3rem 2rem 3rem;
  width: 45%;
}
.container .signup .signup_container h1 {
  margin: 1rem 0rem 2rem 0rem;
  font-family: "ArticulatCF-Bold";
}
.container .signup .signup_container form {
  display: flex;
  flex-direction: column;
}
.container .signup .signup_container form label, .container .signup .signup_container form input, .container .signup .signup_container form button {
  border-radius: 3px;
  border: none;
}
.container .signup .signup_container form label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-family: "ArticulatCF-Bold";
}
.container .signup .signup_container form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.container .signup .signup_container form .signup_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem 2rem 0rem;
}
.container .signup .signup_container form .signup_btn button {
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: black;
  border-radius: 3rem;
  color: white;
  font-size: 1.2rem;
}
.container .signup .signup_container .login_account {
  display: flex;
  float: right;
}
.container .signup .signup_img {
  border-left: 2px solid black;
  width: 55%;
  background-image: url("../assets/deer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 15px 15px 0px;
}
.container .signup .signup_img h1 {
  color: white;
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
  margin: 2rem;
}

@media only screen and (max-width: 740px) {
  .container .signup .signup_container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
  .signup_img {
    display: none;
  }
}
/* Styles for containers */
.Home {
  color: #fff;
  /* Styles for sections */
  /* Styles for home section */
}
.Home .container1 {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100vh;
}
.Home section {
  padding: 1rem 0;
}
.Home .home {
  background-color: #03080e;
  text-align: center;
}

input {
  border: none;
}

/* Styles for about section */
.about {
  background-color: #03080e;
  color: white;
}
.about .container1 .action {
  display: flex;
}
.about .container1 .action .img {
  width: 50%;
}
.about .container1 .action .control-container {
  width: 50%;
}
.about .container1 .action .control-container .control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .container1 .action .control-container .control .control-speed-btn-wrapper .speed-low, .about .container1 .action .control-container .control .control-speed-btn-wrapper .speed-mid, .about .container1 .action .control-container .control .control-speed-btn-wrapper .speed-high {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
/* Styles for services section */
.services {
  background-color: #03080e;
}

/* Styles for footer */
.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}/*# sourceMappingURL=Style.css.map */